<h2 mat-dialog-title>product-delete-dialog works!</h2>
<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt esse
    incidunt cum, provident libero explicabo tempora soluta architecto qui!
    Praesentium ducimus a veniam natus aperiam nemo expedita exercitationem
    perferendis autem?
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn">Delete</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
